<!DOCTYPE HTML>
<html>
	<head>
		<title>Post Poster Bot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.png" style='width: 85px; border-radius: 50%;' alt="" /></span>
						<h1>Post Poster Bot</h1>
						<p>
							Разработан <a href="https://twitter.com/yuraist">@yuraist</a> для <a href="https://vk.com/iostory">iOStory</a>
						</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">О сервисе</a></li>
							<li><a href="#second">Наши задачи</a></li>
							<li><a href="#cta">Применяемые технологии</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main special">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Что такое Post Poster?</h2>
										</header>
										<p>
											Сервис для автоматизации поиска контента для сообществ в социальных сетях, настройки отложенных публикаций и анализа аудитории.
											<br><br>
											Просто ищет нужный контент в Интернете и публикует его в вашем сообществе.
											<br><br>
											Сегодня сервис находится на стадии разработки и тестируется на сообществе для iOS разработчиков - <a href='https://vk.com/iOStory' target="_blank">iOStory</a>. Бот ищет статьи, новости и другие публикации по тематическим сайтам и публикует их в группе.
										</p>
									</div>
									<!-- <span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
								</div>
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Наши задачи</h2>
									<p>Мы работаем над решением трех основных <br>задач для роста вашего сообщества</p>
								</header>
								<ul class="statistics">
									<li class="style2">
										<span class="icon fa-folder-open-o"></span>
										<br>Поиск контента
									</li>
									<li class="style3">
										<span class="icon fa-signal"></span>
										<br>Аналитика поведения пользователя
									</li>
									<li class="style4">
										<span class="icon fa-laptop"></span>
										<br>Автоматические публикации
									</li>
								</ul>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main">
								<header class="major">
									<h2>Технологии</h2>
									<p>
										Post Poster Bot - веб-сервис, в основе которого лежит микрофреймворк <strong>Flask</strong>, который позволяет быстро развернуть приложение онлайн.
										<br><br>
										Поиск контента по сайтам осуществляется с помощью Python-скрипта, который при помощи библиотеки <strong>Beautiful Soup</strong> собирает нужную информацию с выбранных ресурсов.
										<br><br>
										Для хранения собранного контента используются базы данных <strong>PostgreSQL</strong>.
										<br><br>
										Для безопасной авторизации пользователей (требуемой для CMS) используется библиотека <strong>Flask-Security</strong>.
										<br><br>
										Публикация и анализ сообществ в VK требует доступа к группам, который осуществляется через VK API. Для быстрой работы с API используется библиотека <strong>vk</strong>.
										<br><br>
										Поиск контента и публикация записей происходит постоянно, что требует непрерывной работы скриптов поиска и публикации. При этом, клиентская часть сервиса должна также находиться в рабочем состоянии. Для решения задачи параллельного исполнения использована библиотека <strong>Redis Queue</strong>.
										<br><br>
										Веб-приложение работает на облачной платформе <strong>Heroku<strong>.
                  </p>
								</header>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section></section>
						<section>
							<h2>Contact me</h2>
							<dl class="alt">
								<dt>Email</dt>
								<dd>yura.ist@icloud.com</dd>
							</dl>
							<ul class="icons">
								<li><a href="https://Twitter.com/yuraist" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="https://Facebook.com/yuraistom" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="https://Instagram.com/yuraist" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="https://GitHub.com/yuraist" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Post Poster Bot.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/main.js"></script>
	</body>
</html>